torchaudio==0.5.1
torch==1.5.1 # torchaudio depends on thsi version; was 1.7.1
einops==0.3.0
librosa==0.6.0
numba==0.48 # librosa is bugged: "ModuleNotFoundError: No module named 'numba.decorators'"
webrtcvad==2.0.10
numpy==1.19.0
scipy==1.5.1
matplotlib==3.3.3
tb-nightly
future
tqdm
tgt